@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20NKo%20Unjoined:700|Noto%20Sans%20NKo%20Unjoined:400');

body {
  font-family: 'Noto Sans NKo Unjoined';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans NKo Unjoined';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 3.366rem; /* 53.92px */}

h2 {font-size: 2.525rem; /* 40.32px */}

h3 {font-size: 1.894rem; /* 30.24px */}

h4 {font-size: 1.421rem; /* 22.72px */}

h5 {font-size: 1.066rem; /* 17.12px */}

small {font-size: 0.600rem; /* 9.6px */}

:root {
    --static: rgba(225, 225, 225, 0.5);
    --static2: #0f0f0f;
    --static3: rgb(255, 255, 255);
    --static4: rgba(225, 225, 225, 0.2);
    --static5: rgb(24, 172, 122);
    --static6: rgba(0, 0, 0, 0.05);
    --static7: rgba(0, 0, 0, 0.1);
    --static8: rgba(0, 0, 0, 0.05);
    --static9: rgba(0, 0, 0, 0.3);
    --static10: rgba(225, 225, 225);
    --static11: rgba(0, 0, 0, 0.03);
    --static12: rgba(255, 255, 255, 0.8);
    --static13: rgb(235, 235, 235);
    --static14: rgba(0, 0, 0, 0.2);
    --static15: rgba(255, 255, 255, 0.5);
}

:root[data-theme="light"] {
    --text-50: hsl(27, 69%, 95%);
    --text-100: hsl(26, 69%, 90%);
    --text-200: hsl(26, 71%, 80%);
    --text-300: hsl(26, 70%, 70%);
    --text-400: hsl(26, 70%, 60%);
    --text-500: hsl(26, 70%, 50%);
    --text-600: hsl(26, 70%, 40%);
    --text-700: hsl(26, 70%, 30%);
    --text-800: hsl(26, 71%, 20%);
    --text-900: hsl(26, 69%, 10%);
    --text-950: hsl(27, 69%, 5%);
  
    --background-50: hsl(0, 20%, 95%);
    --background-100: hsl(0, 22%, 90%);
    --background-200: hsl(0, 20%, 80%);
    --background-300: hsl(0, 20%, 70%);
    --background-400: hsl(0, 20%, 60%);
    --background-500: hsl(0, 20%, 50%);
    --background-600: hsl(0, 20%, 40%);
    --background-700: hsl(0, 20%, 30%);
    --background-800: hsl(0, 20%, 20%);
    --background-900: hsl(0, 22%, 10%);
    --background-950: hsl(0, 20%, 5%);
  
    --primary-50: hsl(21, 68%, 95%);
    --primary-100: hsl(24, 65%, 90%);
    --primary-200: hsl(23, 65%, 80%);
    --primary-300: hsl(23, 65%, 70%);
    --primary-400: hsl(23, 65%, 60%);
    --primary-500: hsl(23, 65%, 50%);
    --primary-600: hsl(23, 65%, 40%);
    --primary-700: hsl(23, 65%, 30%);
    --primary-800: hsl(23, 65%, 20%);
    --primary-900: hsl(24, 65%, 10%);
    --primary-950: hsl(25, 68%, 5%);
  
    --secondary-50: hsl(170, 23%, 95%);
    --secondary-100: hsl(175, 22%, 90%);
    --secondary-200: hsl(172, 22%, 80%);
    --secondary-300: hsl(173, 22%, 70%);
    --secondary-400: hsl(172, 22%, 60%);
    --secondary-500: hsl(172, 22%, 50%);
    --secondary-600: hsl(172, 22%, 40%);
    --secondary-700: hsl(173, 22%, 30%);
    --secondary-800: hsl(172, 22%, 20%);
    --secondary-900: hsl(175, 22%, 10%);
    --secondary-950: hsl(170, 23%, 5%);
  
    --accent-50: hsl(210, 23%, 95%);
    --accent-100: hsl(218, 22%, 90%);
    --accent-200: hsl(215, 24%, 80%);
    --accent-300: hsl(216, 23%, 70%);
    --accent-400: hsl(217, 23%, 60%);
    --accent-500: hsl(216, 23%, 50%);
    --accent-600: hsl(217, 23%, 40%);
    --accent-700: hsl(216, 23%, 30%);
    --accent-800: hsl(215, 24%, 20%);
    --accent-900: hsl(218, 22%, 10%);
    --accent-950: hsl(220, 23%, 5%);

}
:root[data-theme="dark"] {
    --text-50: hsl(27, 69%, 5%);
    --text-100: hsl(26, 69%, 10%);
    --text-200: hsl(26, 71%, 20%);
    --text-300: hsl(26, 70%, 30%);
    --text-400: hsl(26, 70%, 40%);
    --text-500: hsl(26, 70%, 50%);
    --text-600: hsl(26, 70%, 60%);
    --text-700: hsl(26, 70%, 70%);
    --text-800: hsl(26, 71%, 80%);
    --text-900: hsl(26, 69%, 90%);
    --text-950: hsl(27, 69%, 95%);
  
    --background-50: hsl(0, 20%, 5%);
    --background-100: hsl(0, 22%, 10%);
    --background-200: hsl(0, 20%, 20%);
    --background-300: hsl(0, 20%, 30%);
    --background-400: hsl(0, 20%, 40%);
    --background-500: hsl(0, 20%, 50%);
    --background-600: hsl(0, 20%, 60%);
    --background-700: hsl(0, 20%, 70%);
    --background-800: hsl(0, 20%, 80%);
    --background-900: hsl(0, 22%, 90%);
    --background-950: hsl(0, 20%, 95%);
  
    --primary-50: hsl(25, 68%, 5%);
    --primary-100: hsl(24, 65%, 10%);
    --primary-200: hsl(23, 65%, 20%);
    --primary-300: hsl(23, 65%, 30%);
    --primary-400: hsl(23, 65%, 40%);
    --primary-500: hsl(23, 65%, 50%);
    --primary-600: hsl(23, 65%, 60%);
    --primary-700: hsl(23, 65%, 70%);
    --primary-800: hsl(23, 65%, 80%);
    --primary-900: hsl(24, 65%, 90%);
    --primary-950: hsl(21, 68%, 95%);
  
    --secondary-50: hsl(170, 23%, 5%);
    --secondary-100: hsl(169, 22%, 10%);
    --secondary-200: hsl(172, 22%, 20%);
    --secondary-300: hsl(171, 22%, 30%);
    --secondary-400: hsl(172, 22%, 40%);
    --secondary-500: hsl(171, 22%, 50%);
    --secondary-600: hsl(172, 22%, 60%);
    --secondary-700: hsl(171, 22%, 70%);
    --secondary-800: hsl(172, 22%, 80%);
    --secondary-900: hsl(169, 22%, 90%);
    --secondary-950: hsl(170, 23%, 95%);
  
    --accent-50: hsl(220, 23%, 5%);
    --accent-100: hsl(218, 22%, 10%);
    --accent-200: hsl(215, 24%, 20%);
    --accent-300: hsl(216, 23%, 30%);
    --accent-400: hsl(217, 23%, 40%);
    --accent-500: hsl(216, 23%, 50%);
    --accent-600: hsl(217, 23%, 60%);
    --accent-700: hsl(216, 23%, 70%);
    --accent-800: hsl(215, 24%, 80%);
    --accent-900: hsl(218, 22%, 90%);
    --accent-950: hsl(210, 23%, 95%);
  
}

body {
  background-color: var(--background-50);
  font-family: Poppins;
  margin: 0px;
  /* margin: var(--margin-lg); */
  gap: 20px;

  display: flex;
  /* grid-template-columns: 300px 1fr; 
  grid-template-rows: 4em 1fr;
  grid-template-areas: 
    "mainPane details details details"
    "mainPane details details details"
    "mainPane details details details"
    "mainPane details details details" */
}

#mainPane {
  grid-area: mainPane;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 25%;
}

#search {
  width: 100%;
  display: flex;
  height: 2rem;
}

#searchBox {
  /* width: 80%; */
  flex-grow: 5;
  font-size: 1.2rem;
}

#searchBtn {
  /* width: 20%; */
  flex-grow: 1;
  font-size: 1.2rem;
}

#currentWeather {
  display: flex;
  flex-direction: column;
}

#forecast {
  display: flex;
}

#details {
  width: 75%;
  flex-grow: 2;
}

#info {
  grid-area: details;
  display: grid;
  grid-template-columns: 300px 1fr; 
  grid-template-rows: 4em 1fr;
  display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.info-card {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
}

#wind {
  grid-area: "wind";
}

#humidity {
  grid-area: "humidity";
}

#precipitation {
  grid-area: "precipitation";
}

#tempreture {
  grid-area: "tempreture";
}

#uv {
  grid-area: "uv";
}

#astro {
  grid-area: "astro";
}

#hourly {
  grid-area: "hourly";
  display: flex;
  justify-content: space-between; /*or space-around*/
}

.hour {
  width: 10%;
  text-align: center;
}
